.wrapper {
  padding: 20px;
  border: 1px solid silver;
  border-radius: 5px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.input {
  width: 170px;
  padding: 5px;
  border-bottom: 1px solid white;
}

.select {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 18px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.option {
  color: black;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.result-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}

.result-title {
  text-decoration: underline;
}

.result-value {
  margin-left: 10px;
  color: rgb(174, 174, 237);
  font-size: 18px;
}

.btns-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-start {
  width: 100px;
  height: 30px;
  border-radius: 3px;
  background-color: blue;
  transition: all 0.3s linear;

  &:hover {
    background-color: white;
    color: black;
  }

  &:disabled {
    background-color: grey;
    color: white;
  }
}

.btn-reset {
  width: 100px;
  height: 30px;
  border-radius: 3px;
  background-color: white;
  color: black;
  transition: all 0.3s linear;

  &:hover {
    background-color: blue;
    color: white;
  }

  &:disabled {
    background-color: grey;
    color: white;
  }
}
