<div class="wrapper">
  <input type="number" class="input" placeholder="Enter first number" [formControl]="firstNumber" />
  <select class="select" [formControl]="operation" title="Choose an operation">
    <option class="option" value="+">+</option>
    <option class="option" value="-">-</option>
    <option class="option" value="*">*</option>
    <option class="option" value="/">/</option>
  </select>
  <input
    type="number"
    class="input"
    placeholder="Enter second number"
    [formControl]="secondNumber"
  />
  <p class="result-wrapper">
    <span class="result-title">Result:</span>
    <span class="result-value">
      {{ result || result === 0 ? result : 'enter numbers and push "Start"' }}</span
    >
  </p>
  <div class="btns-wrapper">
    <button
      type="button"
      class="btn-start"
      (click)="calculation()"
      [disabled]="firstNumber.value === null || secondNumber.value === null"
    >
      Start
    </button>
    <button
      type="button"
      class="btn-reset"
      (click)="reset()"
      [disabled]="firstNumber.value === null || secondNumber.value === null"
    >
      Reset
    </button>
  </div>
</div>
